@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-slate-300 dark:bg-zinc-900;
  }
}

body {
  scroll-behavior: smooth;
}

.fancy-border {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  background-color: #dbf26e;
  background-image: linear-gradient(
    319deg,
    #dbf26e 0%,
    #61fa74 37%,
    #1cfdd6 100%
  );
}

.logo h1 {
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.hexagon {
  width: 540px;
  height: 467.64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @apply bg-green-500;
  clip-path: polygon(50% 2%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-clip-path: polygon(
    50% 2%,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
  -moz-clip-path: polygon(50% 2%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon-background {
  background-color: white;
  width: 500px;
  height: 433px;
  clip-path: polygon(50% 2%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -webkit-clip-path: polygon(
    50% 2%,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  );
  -moz-clip-path: polygon(50% 2%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}