@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #22c55e;
    --primary-color-hover: #16a34a;
    --gradient-color-first: #69ff97;
    --gradient-color-second: #00e4ff;
    --bubble-color: #22c55e 20%;
  }

  [preset-color="green"] {
    --primary-color: #22c55e;
    --primary-color-hover: #16a34a;
    --gradient-color-first: #69ff97;
    --gradient-color-second: #00e4ff;
  }

  [preset-color="sky"] {
    --primary-color: #3b82f6;
    --primary-color-hover: #2563eb;
    --gradient-color-first: #4c83ff;
    --gradient-color-second: #2afadf;
  }

  [preset-color="purple"] {
    --primary-color: #a855f7;
    --primary-color-hover: #9333ea;
    --gradient-color-first: #9f44d3;
    --gradient-color-second: #e2b0ff;
  }

  [preset-color="blue"] {
    --primary-color: #0ea5e9;
    --primary-color-hover: #0284c7;
    --gradient-color-first: #130cb7;
    --gradient-color-second: #52e5e7;
  }

  [preset-color="orange"] {
    --primary-color: #f97316;
    --primary-color-hover: #ea580c;
    --gradient-color-first: #de4313;
    --gradient-color-second: #fec163;
  }

  [preset-color="red"] {
    --primary-color: #ef4444;
    --primary-color-hover: #dc2626;
    --gradient-color-first: #e80505;
    --gradient-color-second: #fdd819;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-slate-50 transition-colors duration-300 ease-in-expo dark:bg-zinc-900;
  }
}

body {
  scroll-behavior: smooth;
}

.fancy-border {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: all ease-in-out 0.5s;

  background-color: var(--gradient-color-first);
  background-image: linear-gradient(
    135deg,
    var(--gradient-color-first) 10%,
    var(--gradient-color-second) 100%
  );
}

.logo::after {
  clip-path: polygon(100% 0, 96% 0, 0 84%, 0% 100%, 100% 100%);
}

.area {
  position: absolute;
  top: -64px;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  mask-image: linear-gradient(
    rgb(255, 255, 255) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: bubble 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes bubble {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
